.header {
    height: 720px;
    background-image: url("../images/main_vijual_sp.jpg");
    background-size: cover;
    background-position: center center;
    margin: 0 auto 50px;
    position: relative;

    .title {
        text-align: center;
        .hamburger{
            position: absolute;
            top: 15px;
            right: 40px;
            width: 30px;
            height: 20px;
            @media screen and (max-width: 480px){
                right: 20px;
            }
            z-index: 10;
            .hamburger-link{
                display: block;
                width: 100%;
                height: 100%;
            }
            span{
                position: absolute;
                left: 0;
                right: 0;
                height: 2px;
                background-color: #ffffff;
                &:nth-child(1) {
                top: 0;
                }

                &:nth-child(2) {
                    top: 50%;
                    transform: translateY(-50%);
                }

                &:nth-child(3) {
                    bottom: 0;
                }
            }
        }
        h1 {
        font-size: 62px;
        font-family: "游明朝", sans-serif;
        font-weight: 600;
        color: #ffffff;
        text-shadow: 0px 3px 6px #880000;
        letter-spacing: 0px;
        padding-top: 260px;
        padding-bottom: 8px;
        }

        h2 {
        font-size: 34px;
        font-family: "Yu Mincho";
        font-weight: 400;
        color: #ffffff;
        text-shadow: 0px 3px 6px #880000;
        letter-spacing: 8px;
        padding-bottom: 178px;
        }
    }

    .sub-title {
        display: flex;
        background-color: rgba(255, 13, 13, 0.7);
        padding-left: 16px;
        margin-bottom: 40px;
        box-sizing: border-box;
        align-items: center;

        img {
        width: 120px;
        height: auto;
        object-fit: cover;
        flex-shrink: 0;
        box-sizing: border-box;
        margin-right: 22px;
        }

        p {
        color: #ffffff;
        font-size: 20px;
        font-family: "Yu Mincho";
        line-height: 1.7;
        flex: 1;
        word-break: break-word;
        margin-top: 32px;
        margin-bottom: 31px;
        margin-right: 25px;
        max-width: 310px;
        }

        @media screen and (max-width: 360px) {
        img {
            margin-right: 17px;
        }

        p {
            margin-top: 20px;
            margin-bottom: 20px;
            margin-right: 20px;
            max-width: 220px;
        }
        }
    }
}