.main {
    @media screen and (min-width: 521px) {
        max-width: 480px;
        margin: 0 auto;
        padding: 0;
    }
}

.explanation {
    h3 {
        position: relative;
        display: block;
        font-family: "Yu Mincho";
        font-size: 30px;
        font-weight: 600;
        color: #3b4043;
        margin-left: 20px;
        margin-right: 20px;
        padding-top: 50px;
        margin-bottom: 70px;
        &::after{
            content: "";
            position: absolute;
            left: 0;
            bottom: -20px;
            width: 60px;
            height: 2px;
            background: #cdd6dd;
        }
    }

    p {
        color: #3b4043;
        font-size: 14px;
        line-height: 40px;
        font-family:  "Yu Mincho";
        text-align: left;
        margin: 0 auto;
        margin-left: 20px;
        margin-right: 25px;
        padding-bottom: 50px;
        .last-sentence {
            display: block;
            margin-top: 25px;
        }
    }
}


.announce {
    img {
        display: block;
        height: auto;
        width: calc(100% - 40px);
        margin-left: 20px;
        margin-right: 20px;
        padding-bottom: 50px;
    }

    p {
        font-size: 14px;
        line-height: 40px;
        font-family:  "Yu Mincho";
        color: #707f89;
        margin-left: 23px;
        margin-right: 22px;
        padding-bottom: 60px;
    }
}

.sub_header {
    box-sizing: border-box;
    height: auto;
    width: 100%;
    aspect-ratio: 800 / 1198;
    background-image: url("../images/fruit_denish.jpg");
    background-size: cover;
    background-position: center center;
    margin-bottom: 50px;
}

.sub_nav {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;

    .sub_boxs {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    justify-content: space-between;

        img {
        width: 120px;
        height: auto;
        object-fit: cover;
        flex-shrink: 0;
        padding-right: 10px;
        box-sizing: border-box;
        }
    }

    .sub_announce {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;

    p {
        color: #707f89;
        font: normal normal normal 14px/20px "Yu Gothic";
        margin-bottom: 10px;
        }

    button {
        border-radius: 13px;
        font-size: 12px;
        color: #fff;
        background-color: #000000;
        border: none;
        padding: 5px 12px 4px 17px;
        align-self: flex-end;
        margin-bottom: 30px;
        }
    }
}

.information {
    margin-left: 20px;
    margin-right: 20px;

    h3 {
        color: #707f89;
        font-size: 18px;
        font-family: "源ノ角ゴシック JP", sans-serif;
        font-weight: normal;
        padding-top: 20px;
        padding-bottom: 12px;
    }

    p {
    color: #3b4043;
    font-size: 18px;
    font-family: "源ノ角ゴシック JP", sans-serif;
    font-weight: normal;
    padding-bottom: 20px;
    }
}

.information_box_top {
    border-top: 2px solid #98a6b5;
}

.information_box {
    border-top: 1px solid #cdd6dd;
    opacity: 1;
}

.information_box_bottom {
    border-top: 1px solid #cdd6dd;
    border-bottom: 1px solid #cdd6dd;
    padding-bottom: 30px;
}